{# templates/base.html.twig #}

{# read and display just one flash message type #}
	{% for message in app.flashes('notice') %}
		<div class="alert alert-info alert-dismissible fade show" role="alert"> {{ message }}
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
{% endfor %}

{# read and display several types of flash messages #}
{% for label, messages in app.flashes(['success', 'warning']) %}
	{% for message in messages %}
		<div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
			{{ message }}
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	{% endfor %}
{% endfor %}

{# read and display all flash messages #}
{% for label, messages in app.flashes %}
	{% for message in messages %}
		<div class="alert alert-{{ label }}alert-dismissible fade show"  role="alert">
			{{ message }}
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	{% endfor %}
{% endfor %}
